@media screen and (max-width: 767px) {
    .ui-popup-container {
        width: 964px;
    }
}

@media screen and (min-width: 767px) {
    .ui-popup-container {
        width: 380px !important;
    }
}

@media screen and (min-width: 35em) {
	.pricing-currency {
		text-align: right !important;
		/*white-space: nowrap;*/	
	}
}

.pricing-window tbody tr:nth-child(2n) {
	background: #EEE;
}

.pricing-window div.download-note {
	text-align: center !important;
}